.btn{
    width: fit-content;
    min-width: 100px;
    justify-content: center;
    padding: 0 10px 0 10px;
    height:30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    
}
.btn:hover{
    filter: brightness(0.8);
    /* border: 2px solid black; */
}
.outlined{
    border: 1px solid white;
}
.outlined:hover{
    filter: brightness(0.2);
    /* border: 1px solid white; */
}
.btn-txt{
    color: white;
    text-decoration: none;
}