.btn{
    width: fit-content;
    min-width: 100px;
    justify-content: center;
    padding: 0 10px 0 10px;
    height:30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.inactive{
    width: fit-content;
    min-width: 100px;
    justify-content: center;
    padding: 0 10px 0 10px;
    height:auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.btn:hover{
    filter: brightness(0.1);
    /* border: 2px solid black; */
}
.outlined{
    border: 2px solid white;
}
.default:hover{
    filter: brightness(0.8);
}

.btn-txt{
    color: white;
    text-decoration: none;
}