.nav{
    background-color: rgba(0, 0, 0, 0.208);
    height: fit-content;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    z-index:1000;
    top: 0;
}
.nav-menu{
    display: flex;
    flex-direction: row;
}
.nav-btn{
  margin: 100px;
  padding: 200px;
}
.nav-txt{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'myriad-pro';
}
.nav-txt:hover{
    text-decoration: none;
    color: rgb(232, 147, 12);
}
.nav-icon{
    display: none;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    padding-top: 4px;
    padding-right: 5px;
    justify-content: center;
}
.nav-icon:hover{
    background-color: #0F044C;
    color: #EEEEEE;
}
.nav-menu-mobile{
    display: none;
}
.logo{
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .nav{
        padding: 10px;
    }
    .nav-menu{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    .nav-menu-mobile{
        display:block;
        visibility: hidden 0.2s;
        opacity: 0;
        position: absolute;
        height: 0px;
        top: 48px;
        right: 10px;
        flex-direction: column;
        width: 30%;
        height: fit-content;
        background-color: rgba(227, 227, 227, 0.712);
        /* border-top: 1px solid black; */
        transition: all 0.3s ;
        transform: translateY(-1%);
    }
    .nav-btn-mobile{
        text-align: center;
        /* padding: 10px; */
        height: 50px !important;
        /* border: 2px solid rgba(227, 227, 227, 0.712); */
        /* background-color: aqua; */
    }
    .nav-btn-mobile:hover{
        /* border-color: rgb(232, 147, 12); */
        /* background-color: rgba(72, 72, 72, 0.481); */
        color: white;
    }
    .nav-txt{
        color: black;
        text-decoration: none;
        display: grid;
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }
    .nav-txt:hover{
        text-decoration: none;
    }
    .nav-menu-mobile.expanded {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in;
        transform: translateY(5%);
    }
    .logo{
        width: 100px;
        height: 30px;
    }
}